<div
    [ngStyle]="{'top.px': top, 'left.px': left, 'width.px': width}">

    <div class="filter"
        *ngIf="(!multiple && filterEnabled) || (forceFilterEnabled && filterEnabled)">
        <input
            #filterInput
            (click)="onSingleFilterClick($event)"
            (input)="onSingleFilterInput($event)"
            (keydown)="onSingleFilterKeydown($event)">
    </div>

    <div class="options"
        #optionsList>
        <ul
            (wheel)="onOptionsWheel($event)">
            <li *ngFor="let option of optionList.filtered; let i = index">
                <template *ngIf="shouldShowGroup(i)" [ngOutletContext]="{option: option}" [ngTemplateOutlet]="groupTemplate"></template>

                <div (click)="onOptionClick(option)"
                    [ngClass]="{'highlighted': option.highlighted, 'selected': option.selected, 'disabled': option.disabled, 'templated': !!optionTemplate}"
                    [ngStyle]="getOptionStyle(option)"
                    (mouseover)="onOptionMouseover(option)">
                    <template [ngOutletContext]="{option: option}" [ngTemplateOutlet]="selectOptionTemplate"></template>
                    <span *ngIf="!selectOptionTemplate">{{option.label}}</span>
                </div>
            </li>
            <li
                *ngIf="!optionList.hasShown"
                class="message">
                <template [ngTemplateOutlet]="notFoundTemplate"></template>
                <span *ngIf="!notFoundTemplate">{{notFoundMsg}}</span>
            </li>
        </ul>
    </div>
</div>
